@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@800&display=swap");
@import url(../css/normalize.css);

//vars
$title: #292930;
$main-color: #7D8797;
$main-violet-color: #5360FE;
$btn-color: #EEF7FE;
$main-red: #FF0000;
$border-color: #E0E0E0;
$title-small-color: #04035F;
$main-marine: #04D7CD;
$box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
$box-shadow-social: 0px 10px 20px rgba(0, 0, 0, 0.1);
$box-shadow-icon: 0px 4px 4px rgba(0, 0, 0, 0.25),
0px 0px 20px #000000;

//settings

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #fff;
  color: $main-color;
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;

  &--large {
    max-width: 1510px;
  }
}

.title {
  font-family: 'Nunito', 'Arial', serif;
  font-size: 64px;
  line-height: 1;
  font-weight: 800;
  color: $title;
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
  padding: 0;
}

button {
  cursor: pointer;
  border-color: transparent;
  border: none;
}

//components

.btn {
  display: block;
  max-width: 300px;
  border-radius: 35px;
  padding: 24px 60px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: $btn-color;
  background-color: $main-violet-color;
  transition: background-color 0.2s, color 0.2s;

  &--dark {
    background-color: $title-small-color;
  }

  &:hover {
    background-color: $main-marine;
    color: $title-small-color;
  }
}

.btn-up {
  width: 70px;
  height: 70px;
  background-color: $main-violet-color;
  border-radius: 16px;
  background-image: url(../images/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: $title-small-color;
  }
}

//header

.header {
  &__top {
    display: flex;
    align-items: center;
    padding-top: 56px;
  }

  &__logo {
    margin-right: 130px;

    &:hover {
      .header__icon path {
        &:first-child {
          fill: #5360FE;
        }

        &:last-child {
          fill: #292930;
        }
      }
    }
  }

  &__icon path {
    transition: fill 0.3s;
  }

  &__btn {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 30px;
  }

  &__lang {
    width: 50px;
    height: 50px;
    background-color: $btn-color;
    border-radius: 16px;
    color: $main-violet-color;

    &:hover {
      font-weight: 500;
    }
  }
}

.menu {
  margin-right: auto;

  &__list {
    display: flex;
  }

  &__item {
    transition: transform 0.2s;
    width: 90px;

    &:not(:last-child) {
      margin-right: 45px;
    }

    &:hover {
      transform: translateY(-7px);
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 10px;
      background-color: $main-violet-color;
      border-radius: 0px 0px 10px 10px;
      top: -65px;
      left: 0;
      transition: width 0.3s ease-in-out;

    }

    &:hover {
      font-weight: 700;
      color: #292930;

      &::after {
        width: 100%;
      }
    }

  }
}